[2016-12-28 16:11] an-bel opened #3 "Performance: ReflectionUtils.getMethodRecursive cache"
In our performance investigation we've realized that ValidateWithMethodCheck.isSatisfied method is a CPU bottleneck.

simple implementation suggestion:
I supposed that's because Class.getDeclaredMethod(methodName, parameterTypes) is a pretty heavy call, I suggest an LRU cache with maximum size configurable via an environment variable. This cache would use a composite "Class, methodName, Class[] pa

[2016-12-28 16:13] an-bel opened #4 "Website: repository link is broken"
http://oval.sourceforge.net/source-repository.html mentions https://github.com/sebthom/oval/trunk which is a 404 Page Not Found

[2016-12-29 14:16] sebthom commented on #4
Thanks for reporting!

Fixed in SCM. Change will be effective when the site is redeployed.

[2016-12-29 14:16] #4 closed

[2016-12-31 00:32] sebthom commented on #3
Please give this a try http://oval.sourceforge.net/mvn-repo/snapshot/net/sf/oval/oval/1.87-SNAPSHOT/

[2017-02-13 21:40] Pyeroh opened #5 "@Past and @Future not working for java.time.* API"
Annotations like @Past and @Future (and checking classes associated) don't work with Java 8 date representations, as they are not parsable (at least for my locale)

Yes, I know I can create my own checking class, but I would need to also create my own annotation, so to basically copy your annotations into my code, and modify it a bit to fit my needs.

It would be nice to have this feature in your

[2017-02-14 03:19] sebthom commented on #5
I wouldn't mind a pull request, however it should compile with JDK5 as this is still the target for OVal (yes I know Java 5/6 are EoL but I have customers still using it).

For JSR223 for example the project references a JDK5 backport maybe something exists for JSR 310 too.

[2017-02-23 01:00] #3 closed

[2017-02-23 01:22] sebthom commented on #5
Please give it a try: http://oval.sourceforge.net/mvn-repo/snapshot/net/sf/oval/oval/1.87-SNAPSHOT/

[2017-02-25 06:15] Pyeroh commented on #5
I tried this snapshot, but it's failing with a java.lang.IncompatibleClassChangeError on the return instruction line. If I evaluate the expression in debug mode, nothing's wrong, but when I step forward, this error occurs. Maybe because it was not compiled with Java8 ?

[2017-02-26 07:58] sebthom commented on #5
Can you give me the full stacktrace of the error?

[2017-02-26 09:29] Pyeroh commented on #5
`java.lang.IncompatibleClassChangeError: Found class java.time.LocalDateTime, but interface was expected
	at net.sf.oval.constraint.PastCheck.isJavaTimeSatisfied(PastCheck.java:65)
	at net.sf.oval.constraint.PastCheck.isSatisfied(PastCheck.java:107)
	at net.sf.oval.Validator._checkConstraint(Validator.java:571)
	at net.sf.oval.Validator.checkConstraint(Validator.java:845)
	at net.sf.oval.Validator

[2017-02-27 02:53] sebthom commented on #5
Please try again with the new snapshot,

[2017-02-27 08:04] Pyeroh commented on #5
Tested success and failure, on Future and Past, and it works perfectly.

BTW, I looked at your commit, and it's a very clever way to avoid compiling against a JDK you're not using, I'll remember it the next time I face it !

Thanks for your *time* (pun intended), and for your work on this awesome lib !

[2017-03-01 20:05] #5 closed

[2017-03-04 12:07] sebthom commented on #5
I uploaded v1.87 to https://oss.sonatype.org/index.html#nexus-search;quick~oval

Should appear in repo1 within 1 day.

[2017-03-04 22:18] Pyeroh commented on #5
Thank you

[2017-05-17 05:12] spik3r opened #7 "activation rules for constraints not working for programming by contract"
Activation rules don't seem to work when using Programming by contract with AspectJ.
As per the documentation this works when using a Validator:

    public class BusinessObject {
        private String fieldA;

        @NotNull(when = "javascript:_this.fieldA != null")
        private String fieldB;

        public BusinessObject(){}

        public BusinessObject(String fieldA, String fieldB) {

[2017-05-17 15:45] sebthom commented on #7
Your example does not work because `_this` is a reference to the object you are about to create. The `when` expression is checked before the value of the argument `fieldA` is assigned to the field `this.fieldA`.

Activation of a parameter constraint depending on another parameter's value is currently not possible.

You can try using a `@PostValidateThis` constraint, e.g.
[code]

[2017-05-18 03:34] spik3r commented on #7
Hi Sebastian,
thanks for your quick response, unfortunately your code snipped doesn't work for me and throws a `java.lang.StackOverflowError`, unless I remove the getter. Unfortunately if I do that the JavaScript can't find the variable anymore

Is there some limitation to using `@PostValidateThis`?
It seems to only work when there is no `when` expression.
I think there may be a bug when using `@P

[2017-05-19 16:58] sebthom commented on #7
I think this is a problem with Javascript itself. Looks like you cannot access private variables. Rhino does not throw an exception but simply evaluates the formula as false. This it never activates.

Try this same with groovy instead.

[2017-05-19 17:17] sebthom commented on #7
I cannot really reproduce the issue. I extended the respective test case and it seems to work fine, see https://github.com/sebthom/oval/commit/c676ef2f1880050255661a8eb126f432134de784

There are two things you need to be aware of:
1) The JavaScript Engine Rhino cannot directly access private fields. E.g. something like `"javascript:_this.myPrivateField != null && _this.myPrivateField.length > 10"`

[2017-05-20 23:09] spik3r commented on #7
Hi Sebastian,
thanks again.

I noticed that javascript couldn't see private variables for some reason.
I've got it working using `@PostValidateThis` as long as I add `@Guarded(checkInvariants = false)` otherwise I get a `StackOverflowError` from the getters.

    @Guarded(checkInvariants = false)// removing this results in StackOverflowError
    public class User {
        private final String fir

[2017-05-21 19:22] lukaszlenart opened #8 "Support the latest OGNL version"
I'm working on hardening OGNL to reduce possible feature security vulnerabilities. One of those changes is to always needed an implementation of the `MemberAccess` interface.

The latest changes are [here](https://github.com/jkuhnert/ognl/commit/e30b2112979d1be7bed8073f1f47bffed6277fb2)https://github.com/jkuhnert/ognl/commit/e30b2112979d1be7bed8073f1f47bffed6277fb2 and you can test them with a ver

[2017-05-22 11:05] sebthom commented on #7
I added a fix for the StackOverflowError. Can you please give the latest snapshot a try: http://oval.sourceforge.net/mvn-repo/snapshot/net/sf/oval/oval/1.88-SNAPSHOT/

[2017-05-22 23:15] spik3r commented on #7
I've tested the latest snapshot and can confirm I no longer get the StackOverflowError.
Thanks again for the quick fix.

[2017-05-22 23:18] #7 closed

[2017-09-06 07:35] vjkoskela opened #10 "Race Condition in ResourceBundleMessageResolver"
There is a second more subtle race condition in this class with version 1.87. The first was the concurrent  initialization of `messageBundlesByLocale` which was addressed by adding double check locking in https://github.com/sebthom/oval/commit/206ced8e96639f6f7e72a8bc1c661772628b9b46.

The new issue is that the double check locking is not sufficient to ensure the contents of **both** `messageBundl

[2017-09-07 15:26] sebthom commented on #10
Hi Ville,
I will look into it.

Thanks for the detailed analysis.

Regards,
Seb

[2017-09-10 11:54] sebthom commented on #10
Hi Ville,
please give the latest snapshot a try http://oval.sourceforge.net/mvn-repo/snapshot/net/sf/oval/oval/1.88-SNAPSHOT/

Regards,
Seb

[2017-09-12 14:58] vjkoskela commented on #10
Thanks Seb, I can see if it will break but I don't have a consistently reproducible test case because of the nature of the interaction with our application.

Looking at the changes you made I am concerned that the read path does not always go through the synchronization point (e.g. if `if (bundlesOfLocale == null)` is `false` -- line 135). Therefore, it is possible that a reader thread is not guar

[2017-09-13 11:33] sebthom commented on #10
Hi Ville,

an instance of `BundlesAndKeys` and it's contained collections are never modified once assigned to the `bundlesAndKeys` instance variable (they are replaced on update similar to CopyOnWriteArrayList). Thus any read access to them via the `bundlesAndKeys` instance variable will not result in concurrent modification exceptions.

The unsynchronized check `if (bundlesOfLocale == null) is fa

[2017-09-16 23:20] vjkoskela commented on #10
I'm running my tests against `oval-1.88-20170910.120417-8` from your snapshot repository. I'll take another look at the code next week.

[2017-09-17 20:18] vjkoskela commented on #10
After twelve hours of repeatedly running our test suite I am happy to report we have not run into any race conditions. However, these tests are by no means conclusive.

Looking at the changes I agree that add and remove now appear safe with the addition of the synchronized blocks. I am still concerned about the execution of `getMessage` under multiple threads; for example:

`bundlesOfLocale == nul

[2017-09-18 15:36] sebthom commented on #10
Hi Ville,

thanks for your update I will prepare a new release.

Regarding your concern, I think your observation is wrong. The unsynchronized code in [ResourceBundleMessageResolver#getMessage](https://github.com/sebthom/oval/blob/master/src/main/java/net/sf/oval/localization/message/ResourceBundleMessageResolver.java#L132) never performs a second operations on `this.bundlesAndKeys` with values it

[2017-10-25 09:26] mcgaw opened #11 "fully qualified JSR 303 annotations being ignored"
Hi. I'm trying to use your library together with [Immutables](https://github.com/immutables/).

The Immutables generated classes fully qualify the annotations so that `@NotEmpty` becomes `java.lang.@NotEmpty`. (I'm using the JSR 303 annotations because the Immutables library does not copy across the native Oval versions, something to do with annotation types).

Oval is ignoring the annotation unle

[2017-10-25 09:56] sebthom commented on #11
Hi
can you please provide a small test case.

Thanks,
Seb

[2017-10-25 10:55] mcgaw commented on #11
Both of these [tests](https://github.com/mcgaw/oval-defect) should pass (I guess!). Cheers.

[2017-10-27 19:20] mcgaw commented on #11
Did you manage to take a look at that? I'm going to have to take a look myself as the [bval](https://bval.apache.org/) lib seems to be exhibiting the same behaviour.

[2017-10-27 19:23] sebthom commented on #11
Sorry, not yet, will do it over the weekend.

[2017-10-27 19:24] mcgaw commented on #11
OK, cheers dude. It seems like it should be something simple.. famous last words.

[2017-10-27 20:07] mcgaw commented on #11
Sorry, I've been an idiot. I was using 2.0 validation api annotations, which are not supported.

[2017-10-27 20:07] #11 closed

[2017-10-29 11:50] sebthom commented on #11
FYI version 1.90 now also understands the new BV2.0 built-in constraints. https://bintray.com/sebthom/maven/oval/1.90

[2017-10-29 11:51] sebthom commented on #10
Solved in https://bintray.com/sebthom/maven/oval/1.90

[2017-10-29 11:51] #10 closed

[2018-02-14 13:44] TAMILSELVANP opened #13 "Support for importing oval xml in other oval xmls"
we want define basic constraint sets in oval xmls and import them and use within multiple other oval xmls

[2018-02-14 16:13] sebthom commented on #13
You can pass multiple xml configurers to an validator instamce, see https://github.com/sebthom/oval/blob/master/src/test/java/net/sf/oval/test/validator/XMLConfigurationTest.java#L68

[2018-02-14 19:01] TAMILSELVANP commented on #13
I am looking for the option for importing XMLConfigurationTest.xml into XMLConfigurationTest.inc.xml and pass only one(XMLConfigurationTest.inc.xml) to the validator.
Similar to <import resource="classpath*:/spring-config.xml" /> as in spring.

[2018-05-02 12:12] cjdxhjj opened #14 "MinCheck,MaxCheck didn't hava inclusive attribute in oval-configurationxml"
it's no tip for ide

[2018-05-02 12:16] cjdxhjj opened #15 "pattenCheck not matched xml configuration"
in xstream

           `reader.moveDown();`
           `String pattern = reader.getValue();`
           `reader.moveUp();`
           `reader.moveDown();`
           `int flags = Integer.parseInt(reader.getValue());`
           `reader.moveUp();`
           `return Pattern.compile(pattern, flags);`
    `}`

<flags>flag</flags>`

[2018-05-05 17:11] #15 closed

[2018-05-07 21:47] sebthom commented on #8
I now upgraded the optional dependency to 3.1.14. Newer versions require Java 7.

Users are free to specify higher versions if they run on newer JDKs

[2018-05-07 21:47] #8 closed

[2018-07-03 02:09] cjdxhjj opened #16 "support another validate interface"
there is only one inteface to customer validate a field, only return a bool value, but for some other scene，for example, the person name,different country has different letter, the chinese didn't contains any space and [a-z]/i, but english name has at least two word,we need to return different code to desciption the error

[2018-08-03 07:15] PavelCibulka opened #17 "Add Java 8 repeatable annotations"
Hello, it would be nice, if annotations were repeatable. It is Java 8 feature.

 Example:
@MaxLength(value = 40)
@MaxLength(value = 32, profiles = {"profile1"})
@MaxLength(value = 20, profiles = {"profile2"})
String name;

[2018-08-12 13:56] cnfn opened #18 "Could OValContext preserve _args, _returns and _this?"
If constraint violations occur in `@Pre` and `@Post` check, it will throw a [ConstraintsViolatedException](https://github.com/sebthom/oval/blob/master/src/main/java/net/sf/oval/exception/ConstraintsViolatedException.java#L21) exception. But [ConstraintViolation.invalidValue](https://github.com/sebthom/oval/blob/master/src/main/java/net/sf/oval/ConstraintViolation.java#L36) is always null([validate

[2018-08-13 18:43] sebthom commented on #16
Unfortunately I don't understand the issue. Please provide a junit test case with the expected behaviour.

[2018-08-13 20:10] #13 closed

[2018-08-13 20:27] sebthom commented on #18
`_this` is already accessible via `ConstraintViolation.getValidatedObject()`.

I don't think exposing the return value in case of a constraint violation is a good idea because that defeats the whole purpose of preventing the computed return value being accessible when a validation error is detected.

[2018-08-14 04:28] cnfn commented on #18
I'm new to DBC, could you explain why cannot access the return value? Thanks~

[2018-08-25 06:59] mridang opened #19 "Add support for Java 8's type-annotations"
Hi Seb, any chance you'll be adding support for Java 8's type annotations? It would be handy to do this: `List<@NonNull String>`

[2018-09-07 09:06] Cyrill opened #20 "High contention on ContextCache"
Validators are extensively used in my project and recently I've found that almost all my worker threads are blocked waiting for lock inside `ContextCache.getFieldContext`.

I started wondering what had caused that and here is what I have:
`ContextCache.getFieldContext` uses WeakHashMap inside to cache FieldContext objects, however, according to [https://docs.oracle.com/javase/7/docs/api/java/util/

[2018-09-07 11:41] sebthom commented on #20
The reason why WeakHashMap is used is to allow classes to be unloaded/reloaded. E.g. in a JEE Server where you partially redeploy an EAR (replacing just a module, like an EJB/WAR). Otherwise classes may never be GCed. Maybe we can make the cache implementation to be used configurable.

[2018-09-07 12:33] Cyrill commented on #20
I understand the intention, but unfortunately we have a memory leak here and those classes are never GCed due to the bug described above.

[2018-09-07 17:31] sebthom commented on #20
Can you give the latest 2.0.0-SNAPSHOT a try. You can find the snapshot builds at https://github.com/sebthom/oval/tree/mvn-snapshots-repo/net/sf/oval/oval/2.0.0-SNAPSHOT

[2018-10-08 06:24] cjdxhjj opened #21 "precheck xsd didn't match"
the PreCheck class has expression and language field, when use ide suggest, i cautch a error, language is null, when i replace with
`<pre expression="!(_args[0] == null &amp;&amp; _args[1] == null &amp;&amp; _args[2] == null &amp;&amp; _args[3] == null &amp;&amp; _args[4] == null)" language="groovy" errorCode="20018" message="检索条件均为空"/>`
 it work well.
can you release a new version to correct it?

[2018-10-09 05:33] cjdxhjj commented on #16
i say can you provider an another simplecheck to return both errorcode and message other then just a boolean value,for some field,it may run many test,for example password, lenght range, is contains any blank, is container any illegal char, is simple sequence word like abcd,1234,111..every sence return it own error tip, other then only know is illegal.

[2018-10-09 05:36] cjdxhjj commented on #16
`ConstraintViolation[] isSatisfied(object validatedObject,object value)`

[2018-10-09 05:46] cjdxhjj opened #22 "notEmpty support collection"
`if (valueToValidate == null)
            return true;
        return valueToValidate.toString().length() > 0;`

can you test valueToValidate  is collection and test it size?

[2018-10-09 07:09] sebthom commented on #22
You can use `@Size(min=1)`

[2018-10-09 10:47] #22 closed

[2018-10-09 11:25] #21 closed, assigned to nobody

[2018-10-09 14:19] #17 closed

[2018-10-09 15:29] sebthom commented on #16
I extended the signature to `#isSatisfied(Object, Object, OValContext, Validator)` so you have access to the validator object on which you can report as many constraint violations as you want via `Validator.reportConstraintViolation(ConstraintViolation)`

[2018-11-29 08:48] ialexandrov opened #23 "ObjectCache is not thread-safe"
ObjectCache class is not thread-safe as it relies on non thread-safe collections (HashMap and LinkedList).

At the same time Validator class is declared as thread-safe, but it has  expressionLanguageRegistry inside.
ExpressionLanguageMVELImpl uses ObjectCache which makes Validator non thread safe.

We are sharing validators across multiple threads and this leads to the issues described in the foll

[2018-11-29 17:02] #23 closed

[2018-11-29 17:03] sebthom commented on #23
Thanks for reporting!

[2019-05-04 20:11] #19 closed

[2019-05-04 21:34] mridang commented on #19
Yay! Thank you.

[2019-07-03 09:41] mridang commented on #19
@sebthom When will this be released to Maven Central? 🙏

[2019-07-03 09:57] sebthom commented on #19
Hi Mridang, I actually stopped using Maven Central directly. I switched to JCenter https://bintray.com/bintray/jcenter which includes everything from maven central and more (also it is Gradle/Android default). Do you really require it on Maven Central?

[2019-07-03 09:59] mridang commented on #19
Nopes. Jcenter is fine. Thx Seb.

[2019-11-01 03:25] cjdxhjj opened #33 "matchPattern xml schema not match the xstream converter"
according to your xml schema, i got an error. here is my code fragment

[code]

and the error is
[code]

my xstream is up to date and oval is 2.0.0
then i debug into the xstream parser, i found

[code]

that show pattern and flags and node element，and flags is not optional, but the schema is
[code]
this config need pattern and flags be a attributes on pattern element.
for the origin xstream demand

[2019-11-01 05:29] cjdxhjj opened #34 "assert check schema expr wrong"
expr is a attribute in class, but schema is
[code]
when i write expr in assert, it show an error, but works

[2019-11-01 09:52] sebthom commented on #34
How are you using it?
[code]
works for me without showing an error.

[2019-11-01 09:55] cjdxhjj commented on #34
i use it as assert's attribute
`
![image](https://user-images.githubusercontent.com/5616997/68017042-ccbf5880-fcd0-11e9-9518-413ac84c3946.png)
`

[2019-11-01 10:34] cjdxhjj commented on #34
see me another issure, i did not add the assertconverter

[2019-11-01 11:49] #34 closed

[2019-11-01 11:53] sebthom commented on #33
This was a nice catch, thanks! Now I can finally upgrade the XStream version! :-)

[2019-11-01 11:53] #33 closed

[2019-11-01 12:24] sebthom commented on #33
Version 2.0.1 is now available, having both of your reported issues fixed.

[2019-11-01 12:26] cjdxhjj commented on #33
thanks very much, work with oval is pleasant.

[2019-11-02 02:46] cjdxhjj opened #35 "config XMLConfigurer is slowly and too many xstream instance waste of memory"
according to your guide, i can use the flowing code to config validator
[code]

we must config the xml one by one, that is not a problem, i can config one dir, and get the xml config file in that dir, then by one loop, that work great, but here is xml configure

[code]

 the construstor dos not need a exist xstream instance, it new a xstrem instance forever, and config it, it really slowly and unn

[2019-11-02 22:04] sebthom commented on #35
Can you give 2.0.2-SNAPSHOT a try? It allows you to share the XStream instance. E.g.

[code]

The snapshot maven repo is here https://raw.githubusercontent.com/sebthom/oval/mvn-snapshots-repo/

[2019-11-04 00:48] cjdxhjj commented on #35
thanks, i will try for it

[2019-11-04 02:54] cjdxhjj commented on #35
can you publish that release, i can't fetch it from mvn or jcenter.

[2019-11-04 07:38] sebthom commented on #35
I can build a release I just wanted to check first, that this is what you are looking for. you can also manually download these jar from here: https://github.com/sebthom/oval/tree/mvn-snapshots-repo/net/sf/oval/oval/2.0.2-SNAPSHOT

[2019-11-04 08:05] cjdxhjj commented on #35
wait for a monment, i' m in china, is not able access to the github maven repo, i would make a proxy to test it

[2019-11-04 08:34] cjdxhjj commented on #35
when i upgrade to 2.0.2-SNAPSHOT, it startup fail,

cause-message       : cn.dbn.userCenter.check.LoginNameCheck
class               : net.sf.oval.constraint.CheckWithCheck
required-type       : net.sf.oval.constraint.CheckWithCheck
converter-type      : net.sf.oval.configuration.xml.XMLConfigurer$1
path                : /oval/class/field[2]/checkWith/simpleCheck
class[1]            : net.sf.oval.

[2019-11-04 19:47] sebthom commented on #35
I think you can simply call
[code]

[2019-11-05 01:14] cjdxhjj commented on #35
it works, i think that method can only invoke once at first, and did not check the code

[2019-11-05 01:14] #35 closed

[2019-11-05 07:59] cjdxhjj commented on #35
can you release it? i test it with my local package, it can't deploy by ci, 2.0.1 has no way to config xstream, when project use custome check, it will fail.

[2019-11-05 10:15] sebthom commented on #35
@cjdxhjj I released version 2.1.0.

[2019-11-05 10:23] cjdxhjj commented on #35
thanks very much

[2019-11-19 14:05] PavelCibulka opened #36 "Profiles inside annotation list are ignored"
Validation on this annotation works with profile check:
`@ValidateWithMethod(methodName = "checkPhoneMandatory", parameterType = String.class,
                profiles = {"warning", "check"}, message = "net.sf.oval.constraint.NotNull.violated",
                ignoreIfNull = false)`

This doesn't work:
`@ValidateWithMethod.List(value = {
@ValidateWithMethod(methodName = "checkPhoneMandatory", para

[2019-11-20 09:20] PavelCibulka commented on #36
Problem is probably in net.sf.oval.Validator.checkConstraint line 755
if (!isAnyProfileEnabled(check.getProfiles(), profiles))

Suggested fix:
 if (!(check instanceof ConstraintsCheck) && !isAnyProfileEnabled(check.getProfiles(), profiles))

[2019-11-20 15:44] #36 closed

[2019-11-20 15:44] sebthom commented on #36
Good catch. Thank you!

[2019-11-30 11:12] cjdxhjj opened #37 "AssertURLCheck work incorrect"
it use startwith to check if the schema is correct,
`private boolean isURISchemeValid(final String url) {
      for (final URIScheme scheme : permittedURISchemes)
         if (url.startsWith(scheme.getScheme()))
            return true;
      return false;
   }`
my code is
`
<assertURL connect="false" errorCode="20014" message="url is not correct">
                <permittedURIScheme>http</permitt

[2019-12-04 10:25] #37 closed

[2019-12-04 10:28] cjdxhjj commented on #37
thanks.

[2019-12-04 10:32] sebthom commented on #37
You are welcome. Thanks for reporting.

[2019-12-10 04:23] zhouwenmo opened #39 "if a class field is a Custom class which i also need to check。 what to do ?"
if a class field is a Custom class which i also need to check。
what to do ?

[2019-12-10 11:18] sebthom commented on #39
You can annotate that field with `@AssertValid`, see [Declaring constraints for nested properties](https://github.com/sebthom/oval/blob/master/USERGUIDE.md#declaring-constraints-for-nested-properties)

[2019-12-12 08:56] zhouwenmo commented on #39
thanks

[2019-12-12 08:56] #39 closed

[2020-01-06 00:12] prodigysml opened #41 "Security Contact Requested"
@n33dle and I found a security vulnerability within the oval project. We were hoping to get a core maintainer's contact details to responsibly disclose this vulnerability.

[2020-01-14 14:25] sebthom commented on #41
Contact details given.

[2020-01-14 14:25] #41 closed

[2020-01-18 01:27] cjdxhjj opened #42 "assertUrl xml config error"
when i upgrade to 2.1.2, it display an error flowing
'guardInterceptor' threw exception; nested exception is com.thoughtworks.xstream.converters.reflection.AbstractReflectionConverter$UnknownFieldException: No such field net.sf.oval.constraint.AssertURLCheck.permittedURIScheme
---- Debugging information ----
message             : No such field net.sf.oval.constraint.AssertURLCheck.permittedURISche

[2020-01-18 01:31] cjdxhjj commented on #42
it create a empty object and not init the property
![image](https://user-images.githubusercontent.com/5616997/72656256-ed947180-39d4-11ea-8748-4ff6863aa6da.png)
and then it lookup the generic type paramter annotaion with Constraint as a init config
![image](https://user-images.githubusercontent.com/5616997/72656307-4d8b1800-39d5-11ea-9855-9f76e438f1d6.png)
and set to the AssertUrlCheck

[2020-01-18 01:34] cjdxhjj commented on #42
but set property is here, the property must not be null
![image](https://user-images.githubusercontent.com/5616997/72656346-a064cf80-39d5-11ea-98fe-b0a5cecb1e2d.png)
![image](https://user-images.githubusercontent.com/5616997/72656365-b83c5380-39d5-11ea-8c5b-73d46ae5b039.png)

[2020-01-18 01:35] cjdxhjj commented on #42
it fail with a exception
![image](https://user-images.githubusercontent.com/5616997/72656384-d43ff500-39d5-11ea-8bc6-f6bd080f1e32.png)
that's why i must special the schema

[2020-01-18 01:36] cjdxhjj commented on #42
finaly the property is also null
![image](https://user-images.githubusercontent.com/5616997/72656405-fdf91c00-39d5-11ea-91d5-e1be7911d629.png)

[2020-01-18 01:38] cjdxhjj commented on #42
then it process another step to fill property value
![image](https://user-images.githubusercontent.com/5616997/72656457-457fa800-39d6-11ea-9eb8-4e2e65fa3080.png)

[2020-01-18 01:40] cjdxhjj commented on #42
it lookup ImplicitCollectionMapping to set the collection property so i can set the collection property by flowing
![image](https://user-images.githubusercontent.com/5616997/72656509-9c857d00-39d6-11ea-9bac-eb41706368b4.png)

[2020-01-18 01:46] cjdxhjj commented on #42
it can't find the ImplicitCollectionMapping  due to the type is not match, and then it become a unknow property and throw an error

[2020-01-18 20:58] #42 closed

[2020-01-18 21:00] sebthom commented on #42
Thanks for reporting. Will be fixed in 2.1.3. Release is currently building.

[2020-03-19 10:21] ArnaudRivero opened #51 "inclusive parameter ignored by MaxCheck and MinCheck"
Hello,

I noticed that the parameter `inclusive` of the annotations `@Min` and `@Max` seems to be ignored by their respective `AbstractAnnotationCheck `implementations (namely `MinCheck` and `MaxCheck`)

In both case, the initial value is set to true, but is never updated in the `configure` method, thus making the option ignored (unless there is something I am missing?)

For instance, in the `MaxC

[2020-03-21 17:07] #51 closed

[2020-04-12 16:45] ArnaudRivero opened #56 "Validation of elements in nested collections doesn't work"
Hi,

When nesting collections together (for instance, a `List<List<Integer>>`), validation doesn't work on the elements of the deepest collection. For instance, the following code doesn't throw any exception:

[code]

[2020-04-29 08:12] sebthom commented on #56
Hi Arnaud,

you are right, that is currently not supported. As a workaround you can create a custom constraint to perform the validation, see https://github.com/sebthom/oval/blob/master/USERGUIDE.md#custom-constraint-annotations

[2020-05-20 11:15] bharattrikha03 commented on #33
Was facing the same issue could you tell where have to posted the oval 2.0.1 jar ?

[2020-05-20 11:23] cjdxhjj commented on #33
jcenter

[2020-05-20 11:46] sebthom commented on #33
https://bintray.com/sebthom/maven/oval

[2020-05-20 12:34] bharattrikha03 commented on #33
thanks its working now :)

[2020-05-20 14:20] bharattrikha03 commented on #35
After reading the above comment i have upgraded the OVal to 2.1.0 from 2.0.1 still getting the below error .

Caused by: com.thoughtworks.xstream.converters.ConversionException:
---- Debugging information ----
cause-exception     : com.thoughtworks.xstream.security.ForbiddenClassException
cause-message       : com.aon.salesforce.validator.oval.constraint.CustomDateFormatCheck
class               :

[2020-05-20 14:24] bharattrikha03 commented on #35
Downloaded the Oval jar from below path
https://jcenter.bintray.com/net/sf/oval/oval/2.1.0/

[2020-05-20 15:14] sebthom commented on #35
@bharattrikha03 this is not a bug in oval but a security feature in newer versions of the underlying XStream serialization library and happens for custom constraints.

You need to instantiate the validator something like this:
[code]

[2020-05-20 21:44] bharattrikha03 commented on #35
@sebthom I have integrated the Oval framework with my Spring Application . Could you please give me a border idea how to instantiate the validator because i have already configured it according to the user manual . Please Find the below oval configuration and my Custom Constraint

 <bean id="ovalValidator" class="net.sf.oval.Validator">
	<constructor-arg>
		<list>
			<bean class="net.sf.oval.confi

[2020-05-21 11:15] sebthom commented on #35
@bharattrikha03 This gets complicated with Spring's legacy XML based configuration, you would need to utilize `org.springframework.beans.factory.config.MethodInvokingBean` somehow along the way.

So better migrate to Spring's annotation based configuration, where you could easily do something like:
[code]

If you haven't used annotation driven config, maybe this helps https://www.tutorialspoint.co

[2020-05-22 08:26] bharattrikha03 commented on #35
Thanks @sebthom I will Try this

[2020-06-01 08:11] cjdxhjj opened #63 "is there any support for list object validate"
i'm do validation with assertValid, i'm seek a soultion to config a list object validation, but i can only found notemplty, minSize, maxSize check, can provider an assertCollectionValid ?

[2020-06-01 19:17] sebthom commented on #63
Hi @cjdxhjj ,

would you mind providing a code example of what you are trying to achieve?

[2020-06-02 01:00] cjdxhjj commented on #63
yes, i do, for example,
![image](https://user-images.githubusercontent.com/5616997/83468339-0ea2be00-a4af-11ea-81de-cc839a719933.png)
here, in my service, i defined two method, one add one bo, and another add batch,
in my service validator, i config it as flowing

![image](https://user-images.githubusercontent.com/5616997/83468479-73f6af00-a4af-11ea-88f8-d5c9c641b0fd.png)

[2020-06-02 01:01] cjdxhjj commented on #63
and my part of bo validation is here
![image](https://user-images.githubusercontent.com/5616997/83468534-9c7ea900-a4af-11ea-973f-11f640fffe09.png)

[2020-06-02 01:04] cjdxhjj commented on #63
i wan;t to config the batch method as flowing
![image](https://user-images.githubusercontent.com/5616997/83468644-fda67c80-a4af-11ea-8412-acf4a0e5a08b.png)

[2020-06-02 21:42] sebthom commented on #63
This should have worked out of the box.

Can you try:
[code]

[2020-06-03 02:19] cjdxhjj commented on #63
thanks very much,i would has a try later

[2020-06-04 18:22] sebthom commented on #63
@cjdxhjj did it work?

[2020-06-10 01:03] cjdxhjj commented on #63
yes, it works, thanks very much, my config is here

![image](https://user-images.githubusercontent.com/5616997/84215566-3f12d980-aaf9-11ea-905f-eaef0622b206.png)

[2020-06-10 01:04] cjdxhjj commented on #63
![image](https://user-images.githubusercontent.com/5616997/84215615-6073c580-aaf9-11ea-8743-cc167a44bb54.png)

[2020-06-10 01:05] cjdxhjj commented on #63
![image](https://user-images.githubusercontent.com/5616997/84215658-826d4800-aaf9-11ea-89aa-24936adc44f1.png)

[2020-06-10 01:07] cjdxhjj commented on #63
i share my experience to help others.

[2020-06-10 01:11] cjdxhjj commented on #63
because i use scala, List is not recognition by oval, so i changed to  Array, the class name of Array[T] is [T, but Class.forName failed, so i wraped it in a class to avoid specify the class name.
i have debug into the source code, i found
![image](https://user-images.githubusercontent.com/5616997/84215913-6ae28f00-aafa-11ea-86bb-6c955e65a064.png)

[2020-06-10 01:14] cjdxhjj commented on #63
isContainerValue is false, so i can simple make first predict true to valid the array object, i coniged as flowing, and it works
<assertValid>
                <appliesTo>
                    <constraintTarget>VALUES</constraintTarget>
                </appliesTo>
            </assertValid>

[2020-06-10 01:15] #63 closed

[2020-06-12 08:46] cjdxhjj commented on #63
yes, i do.

[2020-06-15 04:49] adrian-herscu opened #64 "how to constraint specific methods based on some inner state"
Perhaps this is something that should be better explained in the documentation.

Having an object field like:

    private final ThreadLocal<MyConnection> connection = new ThreadLocal<>();

with several methods such as:

    public void init(final MyConnection myConnection) {...}
    public void method1(...) {...}
    public void method2(...) {...}
    ...

I would like to declare a constraint so

[2020-06-15 18:49] sebthom commented on #64
Hi Adrian,
can you please give me a full example of what you are trying to achieve.
I am not fully understanding what you are trying to achieve.

[2020-06-17 01:07] cjdxhjj commented on #64
you can add method preCheck

[2020-06-17 13:02] adrian-herscu commented on #64
[code]

[2020-06-18 06:55] adrian-herscu commented on #64
Ok... advanced to this one:

[code]

I am getting

[code]

I have
[code]

and also have a working test with

[code]

[2020-06-18 07:07] cjdxhjj commented on #64
![image](https://user-images.githubusercontent.com/5616997/84988875-55faa100-b175-11ea-84d8-85913b0e7a94.png)
remove mvel, and test again

[2020-06-18 09:05] sebthom commented on #64
You could use this:
[code]

[2020-06-18 11:05] adrian-herscu commented on #64
for

    @Pre(expr = "!_this.myObject.get()", lang = "mvel")

I am getting
    ExpressionLanguageNotAvailableException: Expression language mvel is not available

[2020-06-18 11:09] adrian-herscu commented on #64
For this case it seems reasonable... But there are classes which are `final` or their methods marked `final` -- so this approach might fail. Also this approach assumes that the container  object is built by  the `@Guarded` class which may not always be the case.

[2020-06-18 11:11] cjdxhjj commented on #64
i',m using xml config, there is clean bo and inteface.

[2020-06-18 11:12] cjdxhjj commented on #64
for example .
![image](https://user-images.githubusercontent.com/5616997/85013703-9cf98e00-b197-11ea-98b0-3ce9e53df141.png)
![image](https://user-images.githubusercontent.com/5616997/85013759-af73c780-b197-11ea-922f-9f2a5f7cbeaa.png)

[2020-06-18 19:54] adrian-herscu commented on #64
Too much "design patterns" might kill you :) Seriously!
"bo" I assume you meant to Business Object is something the just holds data perhaps doing some parsing and formatting on that data. Why the hell it needs an interface?? That XML file is just yet another place to keep the same code you otherwise would keep in an annotation...
And all this does not solve the basic issue which target referring t

[2020-06-19 21:17] sebthom commented on #64
This works too:
[code]
If you get `ExpressionLanguageNotAvailableException: Expression language mvel is not available`, ensure you added MVEL as a dependency to your project:
[code]

[2020-06-22 17:52] adrian-herscu commented on #64
Fine :)
How the expression for NotNull#target is evaluated?

[2020-06-26 12:27] sebthom commented on #64
@adrian-herscu  like this: https://sebthom.github.io/oval/USERGUIDE.html#declaring-nested-property-constraints

[2020-06-29 12:50] bharattrikha03 opened #65 "ValidateWithMethod not working when specified via XML in OVal 2.x"
Hi,
Recently i have updated my application to JDK 8 and have also updated the Oval Api from 1.85 to 2.1.0 . After upgrading all the validations are working properly except for **ValidateWithMethod**  . As checked in the class ValidateWithMethodCheck

[code]

Here validationMethodsByClass is coming as Null due to which code is breaking in the below method

[code]

Below configuration I am using :

[2020-06-29 16:58] #65 closed

[2020-06-29 16:59] sebthom commented on #65
Fixed in OVal 2.1.6. Thanks for reporting.

[2020-07-03 07:25] bharattrikha03 commented on #65
Thanks for the fix :)

[2020-07-07 17:11] mridang opened #67 "Support for validation of interfaces"
Hi @sebthom We've been using this for a while and we've hit this issue where we aren't sure how interfaces should be validated. Sorry if I'm using the wrong place to ask this but I couldn't find this in the docs.

Assume that we have an interface called

[code]

with the following two implementations:

[code]

What is the recommended way to validate both implementations without having to implement

[2020-07-07 19:35] sebthom commented on #64
I guess this is solved. Please reopen or open another issue if required.

[2020-07-07 19:35] #64 closed

[2020-07-07 19:37] sebthom commented on #67
Hi Mridang,

this should actually work out of the box. There is a test case for this https://github.com/sebthom/oval/blob/master/src/test/java/net/sf/oval/test/validator/InheritanceTest.java

If you can provide a unit test reproducing the issue I'll have a look.

Regards,
Seb

[2020-07-10 06:37] mridang commented on #67
Thanks so much Seb. I'll give this a shot and revert if needed. Much appreciated.

[2020-12-04 08:37] gary-madden opened #88 "Index of an invalid object within a list"
Hi there,

Is there an equivalent of [getPropertyPath](https://docs.oracle.com/javaee/7/api/index.html?javax/validation/ConstraintViolation.html) in Oval? I'm trying to construct the property path of nested invalid objects so I can return some detailed error messages in an API I'm building.

I posted a more detailed question on stackoverflow: https://stackoverflow.com/questions/65018656/index-of-a

[2020-12-04 21:14] sebthom commented on #88
This is currently not possible. This [code part](https://github.com/sebthom/oval/blob/5cb5a75c0deef47a41aac712f9e7520131989cdf/src/main/java/net/sf/oval/Validator.java#L802) would need to be extended to keep track of the index.

[2020-12-08 08:39] gary-madden commented on #88
Thanks @sebthom. I'll look at adding this functionality.

[2020-12-14 10:08] mridang commented on #67
Hi @sebthom I got around to this and this test doesn't work: Just wondering if we're missing  something when it comes to validating the getters on the interface

[code]

[2020-12-21 07:42] gary-madden commented on #88
Hi @sebthom. I created this PR to try to solve the issue https://github.com/sebthom/oval/pull/90

[2020-12-21 08:47] gary-madden opened #91 "Type annotations not read from interfaces"
Hello,

I created a PR to read type annotations defined on interfaces. Could you take a look? https://github.com/sebthom/oval/pull/89

Thanks,

Gary

[2020-12-28 13:02] sebthom commented on #91
Fixed in 3.0.0. Thanks again for your PR

[2020-12-28 13:02] #91 closed

[2020-12-28 13:03] sebthom commented on #67
@mridang please try the new release 3.0.0.

[2020-12-30 15:53] sebthom commented on #88
@gary-madden I pushed a commit that adds two new methods to `ConstraintViolation`: `getContextPath()` and `getContextPathAsString()`. Please check if that suits your needs.

[2020-12-30 23:25] sebthom commented on #67
Please reopen if it still doesn't work as expected.

[2020-12-30 23:25] #67 closed

[2020-12-31 13:39] gary-madden commented on #88
Hey @sebthom. This works perfectly for my needs. Thanks!

[2020-12-31 19:59] sebthom commented on #88
3.1.0 is released now.

[2020-12-31 19:59] #88 closed

[2021-02-04 14:34] Yunandtidus opened #97 "message variable not recomputed using SimpleCheckWithMessageVariables"
According to documentation, I'm aware that :

"For performance reasons the createMessageVariables method is only executed once and the returned map is cached by OVal for this constraint check instance"

(using oval 2.1.6)
By implementing CheckWithCheck.SimpleCheckWithMessageVariables, I'm afraid that CheckWithCheck will not execute createMessageVariable for each validatedObject.

Below is a minima

[2021-02-04 14:38] Yunandtidus commented on #97
posting this issue, I realize that you released 3.1.0, and it's working.

[2021-02-04 14:38] #97 closed

[2021-03-06 12:46] pengbo opened #102 "Concurrent issue in MemberOfCheck"
The following issue occurs in our environment:

[code]

After some investigations, we found that the variable **_membersLowerCase_** in **_MemberOfCheck_** is an **_ArrayList_** which may have concurrent  issue in lazy initializtion.

[code]

Please have a look.

Thanks.

[2021-03-06 16:11] #102 closed

[2021-03-06 16:12] sebthom commented on #102
Thanks for reporting. Will be fixed in 3.1.2, which builds right now.

[2021-03-29 14:55] #18 closed

[2021-03-29 14:55] #56 closed

[2021-08-04 19:21] swaraich09 opened #125 "How do I create custom XML based constraints with the OVal validation"
Hi ,

I am trying to create create custom annotation based constraints with the Oval validation framework ,
I am able to define all the constraints I want in the XML configuration file except for the custom constraint.

Annotation based I have the following code:

<img width="786" alt="Screen Shot 2021-08-04 at 12 08 07 PM" src="https://user-images.githubusercontent.com/88456964/128240590-fc46c9b7

[2021-08-04 19:27] sebthom commented on #125
You need to specify a class and not an interface in XML. So I guess in your case `IDValidationConstraint` instead of `CountryCodeValidation`.

[2021-08-04 19:37] swaraich09 commented on #125
@sebthom : Thanks for replying. But i have tried with specifying class as well. It gives same error.

[2021-08-04 19:45] sebthom commented on #125
Ah ok, as a security measure in the latest releases you need to tell XStream (the underlying XML serialization libary) which classes it can instantiate.

Try something like this:
[code]

[2021-08-04 22:39] swaraich09 commented on #125
I have tried as below:

XMLConfigurer xmlConfigurer = new XMLConfigurer(new File("src/main/resources/" + "oval-config.xml"));
        xmlConfigurer.getXStream().allowTypesByWildcard(new String[]{"com.mcd.dqplugin.constraint.**"});
        Validator validator = new Validator(xmlConfigurer);

[2021-08-05 07:23] sebthom commented on #125
You whitelist your package too late. You need to configure xstream before the xml file is parsed. please try the way I outlined.

[2021-08-05 15:10] swaraich09 commented on #125
I tried as below :

            File file = new File(classLoader.getResource("oval-config.xml").getFile());
            XStream myXStream = XMLConfigurer.createXStream();
            myXStream.allowTypesByWildcard(new String[] {"com.mcd.dqplugin.constraint.**"});
            myXStream.fromXML(file);
            Validator validator =  new Validator(new XMLConfigurer(myXStream));

It ran fine withou

[2021-08-05 16:08] sebthom commented on #125
Try this:

[code]

[2021-08-05 17:01] swaraich09 commented on #125
Thanks @sebthom . This worked.

[2021-08-05 17:13] #125 closed